@use '../assets/styles/breakpoints' as bp;

section#about-me {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cover-img {
    max-width: 55rem;
  }

  h1 {
    text-align: center;
    margin: clamp(var(--space-7), 10vw, var(--space-8)) 0;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);

    font-weight: 450;
    // color: #444;
    margin: 0 var(--space-3);
    max-width: 40rem;
  }

  p {
    font-size: var(--text-lg);
    letter-spacing: -0.03em;
    line-height: 170%;
  }

  .tags {
    margin: var(--space-7) var(--space-3);
    // letter-spacing: 0;
    gap: 0.5em;
    text-transform: uppercase;
  }

  @include bp.tablet {
    p {
      font-weight: 600;
    }
  }
}
