@use '../assets/styles/breakpoints' as bp;

section#projects {
  padding: var(--space-8) 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-3), 3vw, var(--space-7));
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-size: var(--text-2xl);
    font-weight: 700;
    letter-spacing: -0.03em;
    margin: var(--space-6) 0;
  }

  .project-list > div .project-row {
    border-top: 1px solid #aaa;
  }

  .project-list > div:last-of-type .project-row {
    border-bottom: 1px solid #aaa;
  }

  .project-list > div:first-of-type .project-row {
    flex-direction: column-reverse;
    gap: var(--space-5);

    .text {
      gap: var(--space-5);
    }

    .project-image {
      width: unset;
      align-self: stretch;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .project-title {
      font-size: var(--text-xl);
    }

    p {
      font-size: var(--text-lg);
    }
  }

  .project-row {
    display: flex;
    justify-content: space-between;
    gap: var(--space-2);

    // border-top: 1px solid #aaa;
    padding: var(--space-4) clamp(var(--space-3), 3vw, var(--space-6));

    .text {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);
    }

    .project-title {
      font-size: var(--text-lg);
      font-weight: 700;
      letter-spacing: -0.03em;
      text-decoration: underline;
    }

    .project-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--space-5);
    }

    .project-image {
      width: 5rem;
      flex-shrink: 0;
      align-self: flex-start;
      padding: var(--space-2);
    }

    p {
      font-weight: 500;
      font-size: var(--text-md);
    }
  }

  @include bp.tablet {
    .project-row {
      .text {
        flex-direction: row;
        gap: var(--space-2);
        max-width: 60rem;

        .project-title {
          font-size: var(--text-md);
          width: clamp(5rem, 15vw, 18rem);
        }
      }
    }
    .project-list > div:first-of-type .project-row {
      flex-direction: row;

      .project-title {
        font-size: var(--text-lg);
      }

      .project-image {
        max-width: 15rem;
      }
    }

    .project-image {
      align-self: center;
    }
  }
}
