@use '../assets/styles/breakpoints' as bp;

section#project-details {
  padding: var(--space-8) 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-size: clamp(var(--text-sm), 2vw, var(--text-lg));
    font-weight: 900;
  }

  h3 {
    // error msg
    font-weight: 700;
  }

  .underlined {
    align-self: flex-start;
  }

  p {
    letter-spacing: -0.03em;
    line-height: 170%;

    font-size: var(--text-lg);
    font-weight: 450;
  }

  .cover-image {
    background-color: #d0e2f3;
    padding: var(--space-6);

    img {
      max-height: 30rem;
      width: 100%;
      object-fit: contain;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    margin: 0 var(--space-3);
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);

    max-width: 45rem;
  }

  a.link-wrapper {
    align-self: flex-start;

    .demo-btn img {
      height: 0.5em;
    }
  }

  .img-extras {
    margin-top: var(--space-7);
    border-top: 1px solid var(--text);
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
    padding: var(--space-5) 0;

    .img-row {
      display: flex;
      gap: var(--space-5);
    }
  }

  @include bp.tablet {
    .text-container {
      margin: var(--space-5) var(--space-7);

      p {
        font-weight: 550;
        line-height: 180%;
      }
    }

    .img-extras .img-container {
      flex-direction: row;

      img {
        max-height: 30rem;
      }
    }
  }
}
