section#about {
  background: black;
  color: white;

  // min-height: 100vh;
  display: flex;
  align-items: center;

  position: relative;

  .about-content {
    margin: var(--space-7) 0;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
  }

  .about-text {
    font-weight: 500;
    letter-spacing: -0.1px;
    font-size: var(--text-xl);
    text-align: justify;
    // padding: 0 1rem;
  }

  strong {
    font-style: italic;
    font-weight: 900;
  }

  .scroll-hint {
    position: absolute;
    bottom: var(--space-4);
    left: var(--space-3);

    display: flex;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;

    text-transform: uppercase;
    font-size: var(--text-xsm);
    font-weight: 900;

    img {
      height: 0.9em;
      transform: translateY(0.3em);
    }
  }
}
