@use '../assets/styles/breakpoints' as bp;

section#about {
  background: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  padding-bottom: 0;

  .container {
    position: relative;
    padding-bottom: var(--space-8);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-4), 3vw, var(--space-6));
    max-width: 40rem; // preden reflowa v row
  }

  .about-text {
    font-weight: 500;
    letter-spacing: -0.1px;
    font-size: clamp(var(--text-xl), 3vw, var(--text-2xl));
    text-align: justify;
    // padding: 0 1rem;
  }

  strong {
    font-style: italic;
    font-weight: 900;
  }

  .scroll-hint {
    position: absolute;
    bottom: var(--space-4);
    left: var(--space-3);

    display: flex;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;

    text-transform: uppercase;
    font-size: var(--text-xsm);
    font-weight: 900;

    img {
      height: 0.9em;
      transform: translateY(0.3em);
    }
  }

  @include bp.tablet {
    min-height: 100svh;

    .about-content {
      flex-direction: row-reverse;
      max-width: clamp(30rem, 50vw, 45rem);
    }

    .img-container {
      // width: 10rem;
      // flex-shrink: 0;
      flex: 0 0 40%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .scroll-hint {
      left: var(--space-6);
    }
  }
}
