@use '../assets/styles/breakpoints' as bp;

section#hero {
  background: #fffff0;
  z-index: 1;

  position: relative;
  min-height: 100svh;

  display: flex;
  align-items: center;
  justify-content: center;

  .hero-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);

    margin: 0 auto;

    @include bp.mobile {
      max-width: 60%;
    }
  }

  .hero-row {
    padding: 0;
    line-height: 0;

    &.bordered {
      border-top: 1px solid #00000055;
      border-bottom: 1px solid #00000055;

      h1 {
        white-space: nowrap;
        position: relative;
      }
    }
  }

  mark {
    font-weight: 900;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .scroll-hint {
    position: absolute;
    bottom: var(--space-3);
    left: 0;
    right: 0;
    text-align: center;

    text-transform: uppercase;
    font-size: var(--text-xsm);
    font-weight: 900;
    opacity: 0.3;

    span {
      display: flex;
      justify-content: center;
      align-items: baseline;

      gap: var(--space-2);
    }

    img {
      height: 0.7em;
    }
  }
}
