@use '../assets/styles/breakpoints' as bp;

section#hero {
  background: #fffff0;
  z-index: 1;

  position: relative;
  min-height: 100svh;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  cursor: none;

  .hero-text {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    flex-grow: 1;
    pointer-events: none;

    margin: 0 auto;

    .medium-bold {
      font-weight: 600;
    }
  }

  .hero-row {
    h1 {
      line-height: 1.8;

      white-space: nowrap;
      margin: 0;

      font-size: clamp(2rem, 6vw, 7rem);
    }

    &.bordered {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 1px;
        background: #00000044;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 1px;
        background: #00000044;
      }

      h1 {
        line-height: 1.2;
        font-size: clamp(var(--text-2xl), 8vw, 10rem);
      }
    }
  }

  mark {
    font-weight: 900;
  }

  .align-left {
    text-align: left;
    margin-left: 20vw;
    padding-left: 10vw;
    transform: rotate(1deg);

    &::after {
      transform: translateX(5vw);
    }
  }

  .align-right {
    text-align: right;
    margin-right: 15vw;
  }

  .align-center {
    text-align: center;

    margin-right: 7vw;
    padding-right: 0vw;
    transform: rotate(-1deg);

    &::after {
      transform: translateX(-5vw);
    }
  }

  .scroll-hint {
    position: absolute;
    bottom: var(--space-3);
    left: 0;
    right: 0;
    text-align: center;

    font-size: var(--text-xsm);
    font-weight: 900;
    opacity: 0.3;

    animation: scrollWheel 2.5s infinite cubic-bezier(0.29, 0.72, 0.44, 1);

    span {
      display: flex;
      justify-content: center;
      align-items: baseline;

      gap: var(--space-2);
    }

    img {
      height: 0.7em;
      opacity: 0.8;
    }
  }

  .hero-canvas {
    position: absolute;
    inset: 0;
    z-index: 0;
    touch-action: manipulation;
    pointer-events: none;
  }

  .hero-text {
    position: relative;
    z-index: 1;
  }

  @include bp.tablet {
    .hero-row {
      h1 {
        font-weight: 450;
      }

      &.align-left {
        margin-left: 7vw;
      }

      &.align-right {
        margin-right: 12vw;
      }

      &.bordered {
        h1 {
          font-weight: 400;
        }

        &::before,
        &::after {
          // border
          background: #00000066;
        }
      }
    }
  }
}

@keyframes scrollWheel {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}

.clicker {
  position: absolute;
  top: 15%;
  right: 15%;
  background: #7ce16f;
  width: min(20vw, 100px);
  height: min(20vw, 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: rotate(20deg);
  mix-blend-mode: multiply;
  transition: scale 0.2s;

  p {
    color: #3e7137;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 80%;
    transform: translateY(5%);
    letter-spacing: 0.1em;
  }

  &:hover {
    scale: 1.1;
  }

  &.destroyed {
    scale: 0;
  }
}
