@use '../assets/styles/breakpoints' as bp;

section#more-projects {
  background: #000;
  color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    overflow: hidden;
  }

  .project-row {
    display: flex;
    overflow-x: visible;
    width: max-content;

    position: relative;

    animation: polzek 30s linear infinite running;
    will-change: transform;

    backface-visibility: hidden; // safari flickering fix
    -webkit-backface-visibility: hidden; // safari flickering fix

    &:nth-of-type(2) {
      animation-direction: reverse;
    }
  }

  .project-thumb {
    margin-right: 0.9rem;
    flex-shrink: 0;

    img {
      height: 5rem;
    }
  }

  .more-text {
    font-weight: 800;
    font-size: clamp(var(--text-2xl), 10vw, var(--text-3xl));
    margin: var(--space-4) 0;
    letter-spacing: -0.02em;
    line-height: 100%;
    text-align: center;
  }

  mark {
    color: #fff;

    .highlight {
      scale: 1.1;
    }
  }

  @include bp.mobile {
    .project-thumb img {
      height: clamp(5rem, 15vw, 12rem);
    }
  }
}

@keyframes polzek {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}
