@use '../assets/styles/breakpoints' as bp;

section#more-projects {
  background: #000;
  color: #fff;

  .container {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    overflow: hidden;
  }

  .project-row {
    display: flex;
    overflow-x: visible;
    width: max-content;

    position: relative;

    // safari flickering fixes
    isolation: isolate;
    contain: layout paint;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    &:nth-of-type(2) {
      animation-direction: reverse;
    }

    &:nth-of-type(3) {
      margin-left: -4rem;
    }
  }

  .project-thumb {
    margin-right: 0.9rem;
    flex-shrink: 0;
    padding: var(--space-2) var(--space-4);

    img {
      height: 4rem;
      transition: transform 0.2s;
    }

    @media screen and (hover: hover) {
      &:hover img {
        transform: scale(1.05);
      }
    }
  }

  .more-text {
    font-weight: 800;
    font-size: clamp(var(--text-2xl), 10vw, var(--text-3xl));
    margin: var(--space-4) 0;
    letter-spacing: -0.02em;
    line-height: 100%;
    text-align: center;
  }

  mark {
    color: #fff;
  }

  @include bp.mobile {
    .project-thumb img {
      height: clamp(5rem, 15vw, 10rem);
    }
  }
}
