@use '../assets/styles/breakpoints' as bp;

section#toolbox {
  background: #f5f5f5;

  h1 {
    // font-size: var(--text-2xl);
    font-weight: 700;
    text-align: center;
    margin-bottom: var(--space-7);
  }

  span.subtitle {
    font-size: var(--text-sm);
    font-weight: 900;
  }

  .tools-grid {
    margin-top: var(--space-3);
    display: grid;
    gap: 0.5em;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, clamp(6rem, 25vw, 13rem));

    > *:nth-child(8) {
      display: none;
    }

    @include bp.tablet {
      // tablet: 3x3
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, clamp(6rem, 15vw, 13rem));

      > *:nth-child(8) {
        display: flex;
      }
    }

    @include bp.desktop {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, clamp(6rem, 15vw, 13rem));

      > *:nth-child(-n + 3) {
        grid-column: span 2;
      }
    }
  }

  .tools-grid-cell {
    background: #ebebeb;
    border-radius: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;

    img {
      height: 2em;
      max-width: 6em;
    }
  }

  @include bp.tablet {
    .tools-grid-cell img {
      height: 3em;
    }
  }

  @media screen and (hover: hover) {
    .tools-grid-cell:hover {
      background: #333;

      img {
        filter: invert(1);
      }
    }
  }
}
