@use './breakpoints' as bp;

:root {
  // colors
  --text: #08060d;
  --text-light: #909087;
  --bg: #fff;
  // --border: #e5e4e7;
  // --accent: #aa3bff;

  // fonts
  --sans: 'Satoshi-Variable', 'Segoe UI', Roboto, sans-serif;
  --heading: 'Bricolage Grotesque Variable', Roboto, sans-serif;

  // spacing
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-6: 3rem;
  --space-7: 4rem;
  --space-8: 8rem;

  // font spacing
  --text-xsm: 0.7rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.75rem;
  --text-2xl: 2.5rem;
  --text-3xl: 3.5rem;

  // layout
  --max-width: 120rem; // max width of the root
  --radius: 0.5rem;

  // font defaults
  font: var(--text-base) / 145% var(--sans); // base = base size; line height 145% (higher); font family
  letter-spacing: 0.011em;
  // color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// --- reset defaults

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

p {
  line-height: 150%;
  letter-spacing: -0.05em;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--space-3);
  box-sizing: border-box;

  // border: 1px solid red;
}

@include bp.tablet {
  .container {
    padding: 0 var(--space-5);
  }
}

@include bp.desktop {
  .container {
    padding: 0 var(--space-7);
  }
}

section {
  padding: var(--space-8) 0;
  position: relative; // for the background z-index
  z-index: 1; // for the background z-index
}

mark {
  position: relative;
  background: transparent;

  img.highlight {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

// heading sizes

h1,
h2,
h3 {
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-family: var(--heading);
  font-size: var(--text-2xl);
  letter-spacing: -0.03em;
  line-height: 1;
  margin: var(--space-4) 0;
  font-size: clamp(var(--text-3xl), 6vw, 6rem);
}

h2 {
  font-size: var(--text-lg);
  line-height: 118%;
  letter-spacing: -0.01em;
  margin: 0 0 var(--space-2);
}

h3 {
  font-size: var(--text-sm);
}

@include bp.tablet {
  h1 {
    font-weight: 600;
  }
}

@include bp.tablet {
  h1 {
    // font-size: var(--text-3xl);
    margin: var(--space-5) 0;
  }

  h2 {
    font-size: var(--text-xl);
  }

  h3 {
    font-size: var(--text-md);
  }
}

// utility classes

.underlined {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background: currentColor;
  }
}

.upper {
  text-transform: uppercase;
}

.tags {
  display: flex;
  gap: var(--space-1);
  letter-spacing: -0.05em;

  flex-wrap: wrap;
  // max-width: 5rem;
  // background: red;
}

.tag {
  border: 2px solid var(--text);
  border-radius: 999px;
  padding: 0 var(--space-1);
  font-weight: 700;
  font-size: 0.9em;
  line-height: 135%;
  white-space: nowrap;
}

.btn-outlined {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  align-self: flex-start;

  border: 2px solid var(--text);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 999px;
  padding: 0.2em 1em;
  line-height: 1;
  white-space: nowrap;

  img {
    max-height: 0.5em;
  }
}

.invisible {
  opacity: 0;
}

// hovering

@media screen and (hover: hover) {
  .underlined-hover {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background: currentColor;

      transition: transform 0.3s;
      transform-origin: 100%;
      transform: scaleX(0);
    }

    &:hover::after {
      transform-origin: 0%;
      transform: scaleX(1);
    }
  }

  .btn-outlined:hover {
    background: black;
    color: #fff;

    img {
      filter: invert(1);
      transform: translateX(5px);
    }
  }

  .jump-hover:hover .skratek {
    animation: jump 0.3s cubic-bezier(0.33, 1, 0.68, 1) alternate infinite;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
